<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otavia.stepcapsule.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.otavia.stepcapsule.model.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userEmail" column="userEmail" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="loginNumber" column="loginNumber" jdbcType="INTEGER"/>
            <result property="stepsNumber" column="stepsNumber" jdbcType="INTEGER"/>
            <result property="stepsGroupsNumber" column="stepsGroupsNumber" jdbcType="INTEGER"/>
            <result property="userRole" column="userRole" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,avatarUrl,
        userAccount,userPassword,userEmail,
        isDelete,createTime,updateTime,
        loginNumber,stepsNumber,stepsGroupsNumber,
        userRole
    </sql>
</mapper>
